[submodule "engine/dependencies/glfw"]
	path = engine/dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/dependencies/glm"]
	path = engine/dependencies/glm
	url = https://github.com/g-truc/glm.git
